.CreateButton{
    padding:10px 10px 10px 10px;
    color:#fff;
    background:#2FCC00;
    width:280px;
    margin:10px 10px ;
    float: left;
    border:0px;
    border-radius:0px;
    cursor: pointer;
    text-decoration: none;
}
.DeleteButton{
    padding:10px 10px 10px 10px;
    color:#fff;
    background:#FF0002;
    width:280px;
    margin:10px 10px ;
    float: left;
    border:0px;
    border-radius:0px;
    cursor: pointer;
    text-decoration: none;
}
body{
    margin:0px;
    padding:0px;
    background:#77E4E1;
    background-size: 100%;
    text-align: center;
}
#header{
    float: inherit;
    box-shadow: 1px 1px 1px #AEA3AC;
    min-height: 50px;
    margin: 0 auto;
    background: #01A298;
}
#container{
    width:1350px;
    float: inherit;
    min-height:500px;

    margin:10px 10px auto;
}
/*small container*/
#container2{
    width:1030px;
    float: right;
    min-height:482px;

}
#footer{
    width:960px;
    margin:0 auto;

}
#header ul{
    margin:0;
    list-style-type: none;
}
#header ul li{
    display: inline-block;
    margin-right:50px;
}
#header ul li a{
    color:#ffffff;
    text-decoration: none;
    border-top: 100px;
}
#header ul li a:hover{
    text-decoration: none;
    border-left:0px;
}

.but2{
    outline:none;
    color:#6489FF;
    text-decoration: none;
}
.but2:hover{
    color:#0005FF;
}
#drop{
    padding: 10px;
    display: block;
    width:300px;
    border-radius:3px;
    border:1px solid #eee;
    margin:20px auto ;
}

.cancel{
    padding:7.5px;
    color:#fff;
    background:#FF0002;
    width:135px;
    margin-top:0px;
    border:0px;
    border-radius:0px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

input[type="file"]{
    padding:10px;
    width:320px;
    margin:20px auto;
    margin-top:0px;
    border:0px;
    border-radius:0px;
    cursor: pointer;

}
.dropdown2{
    position: relative;
    padding:20px;
    display: inline-block;
}
.dropbtn {
    color: #f5f5f5;
    padding:20px;
    font-size: 15px;
    border: none;
    cursor: pointer;

}

.dropdown {
    padding:20px;
    position: relative;
    float: right;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: 20px;
    display: none;
    float: right;
    position: absolute;

    opacity:0.7;
    background-color: #f5f5f5;
    color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    margin-top:20px;
    display: block;
}
.dropdown2:hover .dropdown-content {
    margin-top:20px;
    display: block;
}
.container2{
    width:1030px;
    min-height:482px;
    border-left:2px solid #dddddd;
    text-align: center;
}
input[type="text"],input[type="password"] {
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px 20px 20px 35px;

}
.submit{
    background:#2FCC00;
    padding:10px;
    color:#fff;
    float: left;
    width:160px;
    margin:20px 105px;
    margin-top:0px;
    border:0px;
    border-radius:0px;
    cursor: pointer;
    text-decoration: none;
}
