body{
    margin:0px;
    padding:0px;

    background-image: url("background.jpg");
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
input[type="text"], input[type="password"]{
    outline:none;
    padding: 10px;
    display: block;
    width:25%;
    border-radius:3px;
    border:1px solid #eee;
    margin:20px auto ;
}
input[type="submit"]{
    padding:10px;
    color:#fff;
    background:#0098cb;
    width:25%;
    margin:20px auto;
    margin-top:0px;
    border:0px;
    border-radius:0px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background:#00b8eb;
}
.header{
    float: inherit;
    box-shadow: 1px 1px 1px #AEA3AC;
    padding:10px 0px;
    min-height:10px;
    margin: 0 auto;
    background: #01A298;

}
.header a{
    color: #333;
    text-decoration: none;
}
.but{
    background: #00b8eb;
    padding:10px;

    border-radius:15px;
    color:#fff;
    font-size:25px;
    width:150px;
    margin:20px 20px 20px 20px;
    margin-top:0px;
    border:0px;

    cursor: pointer;
    text-decoration: none;
}
.reset{
    background:#fff;

    padding:10px;

    color: #00b8eb;
    font-size:25px;
    width:150px;
    margin:20px auto;
    border:0px;
    border-radius:4px;
    cursor: pointer;
    text-decoration: none;
}
.but2{
    outline:none;
    margin:20px 20px 20px 20px;
    text-decoration: none;
}